<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to Express, Data</h1>
    </header>
    <main>
      <div class="response-container">
        <h1>Data you submited</h1>
        <p>Email: <%= email %></p>
        <p>Password: <%= password %></p>
        <a href="/">Back to Home Page</a>
      </div>
    </main>
  </body>
</html>
